
.DS_Store
*.DS_Store
node_modules
*DS_Store
/node_modules
*.swp
out/
contract_library/.DS_Store
/out
/dist
contract_library/.DS_Store
/build_scripts
build_scripts/
build_scripts/*.plist
*.plist
contract_library/.DS_Store
/contract_library
contract_library/
contract_library/.DS_Store
build/morph-dmgbg.ai
sign.sh
morpheus-v0.0.4.tgz
package-old.json