* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    --primary-background: #181818;
    --secondary-background: #454545;
    --response-background: #202020;
    --btn-background: rgba(32, 32, 32, 0.85);
    --primary-text: #C8C8C8;
    height: 100%;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
body.light-mode {
    --primary-background: #fefefe;
    --secondary-background: #dcdcdc;
    --response-background: #acacac;
    --btn-background: rgba(232, 232, 232, 0.85);
    --primary-text: #181818;
}
textarea {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-background);
    margin-bottom: 16px;
    font-size: 1rem;
    color: var(--primary-text);
    border: none;
    resize: none; /* This will prevent users from resizing the textarea manually */
    overflow-y: hidden; /* In case the text exceeds the height */
    height: auto; /* This will ensure the height changes according to the content */
}

textarea:focus {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a2a2a;
}

button:active {
    background-color: #1e1e1e;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #656565;
}

#status-msg {
    padding-top: 5%;
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
}

#history {
    width: 100%;
    height: auto;
    flex: 1;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.history-user-message {
    max-width: 75%;
    min-width: 10%;
    width: auto;
    padding: 20px;
    margin: 5px 0;
    border-radius: 10px 10px 0 10px;
    background-color: var(--secondary-background);
    align-self: flex-end;
    white-space: pre-wrap;
}

.history-chat-response {
    max-width: 75%;
    min-width: 10%;
    width: auto;
    align-self: flex-start;
    border-radius: 10px 10px 10px 0;
    background-color: var(--response-background);
    padding: 20px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}

.user-message {
    width: 100%;
    background-color: var(--response-background);
    padding: 20px;
}

.user-input {
    width: 100%;
}

#user-input-text {
    border: 1px solid var(--secondary-background);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    justify-self: flex-end;
}

#user-input-text:focus {
    /* border: none; */
    outline: none;
}

#chat-view {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#chat-view::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0));
    z-index: 999;
    pointer-events: none;
    overflow-y: auto;
}
.light-mode #chat-view::before {
    background: none;
}

#settings-view {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.settings-modal {
    border: 2px solid var(--secondary-background);
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.settings-header {
    width: 100%;
    padding: 5px;
    background: var(--secondary-background);
    position: relative;
    display: flex;
    justify-content: center;
}

#settings-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 10px;
    border: none;
    margin: 0;
}
.settings-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#model-label {
    color: var(--primary-text);
    font-size: 0.9rem;
}

#model-select {
    padding: 10px;
    background-color: var(--response-background);
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}
#model-select-download {
    padding: 10px;
    background-color: var(--response-background);
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

#model-select:focus {
    outline: none;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

#cancel-btn {
    background-color: var(--primary-text);
    color: var(--response-background);
    margin-right: 4px;
}

#cancel-btn:hover {
    background-color: #B0B0B0; 
    color: #1a1a1a; 
}

#initial-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#app-logo {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
}

#chat-logo {
    width: 30px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1000;
}

#file-open {
    background-color: var(--btn-background);
    border: 0.5px solid rgba(200, 200, 200, 0.8);
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 5px;
    left: 50px;
    /* transform: translateX(-50%); */
    z-index: 1000; /* To make sure the button is always on top of the chat view */
}

#file-open svg {
    width: 18px;
    height: 18px;
    display: block;
}

#file-open svg {
    display: block;
}

#file-open:active svg rect {
    fill: #1e1e1e;
}

#file-open:focus {
    outline: none;
    box-shadow: 0 0 0 2px #656565;
}

#file-open:hover {
    background-color: var(--primary-text);
    color: var(--primary-background);
}

#file-open:hover .folder-shape {
    fill: var(--primary-background);
}

#file-open:hover .plus-sign {
    stroke: var(--primary-text);
}

#file-button-text {
    padding-top: 2.5px;
}

#file-open-err-msg {
    padding-top: 10px;
}

#settings-icon {
    display: none;
    position: fixed;
    top: 10px;
    right: 40px;
    cursor: pointer;
    z-index: 1001;
    width: 16px;
    height: 16px;
}
#display-style-icon {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1001;
    width: 16px;
    height: 16px;
}

#stop-request-container {
    display: none;
    align-items: center;
    gap: 5px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
}

#stop-request-btn {
    font-size: 0.75rem;
    padding: 0 10px;
    border: 0.5px solid rgba(200, 200, 200, 0.8);
    background-color: var(--btn-background);
}

#status-container {
    display: none;
    align-items: center;
    gap: 5px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
}

/* Loading Animation Styles */
.dots-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots-loading>div {
    width: 4px;
    height: 4px;
    background-color: var(--primary-text);
    border-radius: 50%;
    margin: 0 2px;
    animation: bounce 0.6s infinite alternate;
}

.dots-loading>div:nth-child(2) {
    animation-delay: 0.2s;
}

.dots-loading>div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        transform: translateY(-6px);
    }
}

#spinner {
    border: 2px solid #F8F8F8;
    border-radius: 50%;
    border-top: 4px solid var(--primary-background);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

#file-spinner {
    border: 2px solid var(--primary-background);
    border-radius: 50%;
    border-top: 2px solid #656565;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#send-chat-button {
    background-color: var(--btn-background);
    border: none;
    cursor: pointer;
    color: var(--primary-text); /* Change the color to your preference */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  16px;
    margin:  4px  2px;
}

#send-chat-button-text {
    padding-top: 2.5px;
}

#send-chat-button:hover {
    background-color: var(--primary-text);
    color: var(--primary-background);
}

#send-chat-button:hover svg path {
    fill: #1e1e1e;
}

.user-input-wrapper {
    display: flex; 
    align-items: center;
}

#user-input-text {
    flex-grow:  1;
    margin-right:  10px; 
}
#download-empty-warning{
    display: none;
}